<% layout('layouts/boilerplate')%>

<!-- <form action="/search" method="GET">
  <div class="form-group" class="col-md-8">
    <label for="searchInput">Search:</label>
    <input type="text" class="form-control" id="searchInput" name="query" placeholder="Enter search query" >  <button type="submit" class="btn btn-primary">Search</button>

  </div>
</form> -->
<div id="cluster-map"></div>
<div class="container">
  <h1>All Cities</h1>

  <% for (let city of cities){%>
  <div class="card mb-3">
    <div class="row">
      <div class="col-md-4">
        <%if(city.images.length) {%>
        <img class="img-fluid" alt="" src="<%=city.images[0].url%>" />
        <% }else {%>
        <img
          class="img-fluid"
          alt=""
          src="https://res.cloudinary.com/douqbebwk/image/upload/v1600103881/Travel-blog/lz8jjv2gyynjil7lswf4.png"
        />
        <% } %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= city.title %></h5>

          <p class="card-text"><%= city.description.substring(0, 200) %>        <span class="badge badge-primary" style="background-color: rgb(118, 118, 175);" >...</span>
          </p>
          <p class="card-text">
            <small class="text-muted"><%= city.location%></small>
          </p>
          <a class="btn btn-primary" href="/cities/<%=city._id%>">
            Read More about <%=city.title%> and Reviews
        </a>
        
        </div>
      </div>
    </div>
  </div>
  <% }%>
</div>
<script>
  const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
  const cities = { features: <%- JSON.stringify(cities) %>}
</script>

<script src="/javascripts/clusterMap.js"></script>
